<div>
	<ul>
		<p>Movies/Shows</p>
		<div class="row">
			<div class="col-md-4" ng-repeat="media in allMedia track by $index">
				<img class="media-object" ng-src="{{media.poster}}">
				<form>
				<select ng-model="playlist" ng-options="playlist as playlist.name for playlist in playlists">
					<!-- <option ng-repeat="playlist in playlists" value="{{playlist.name}}">{{playlist.name}}</option> -->
				</select>
				<button type="button" class="button" ng-click="editPlaylist(playlist, media)"> Button </button>
			</form>
				<div class="media-body">
					<strong><a ui-sref="singleItemState({mediaId: media.imdb.id})">{{media.title}}</a></strong>
					<p>{{media.plot}}</p>
				</div>
			</div>
		</div>
</div>
