
<!-- Show All Version -->
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 background" ng-hide="filtered" ng-repeat="media in allMedia track by $index">
	<div class="hovereffect" ui-sref="singleItemState({mediaId: media.imdb.id})">
		<img class="img-responsive" src="{{media.poster}}">
		<div class="overlay">
			<h2>{{media.title}}</h2>
			<a class="info">show stars</a>
		</div>
		<form>
			Add to Playlist
			<select ng-model="playlist" ng-options="playlist as playlist.name for playlist in playlists">
				<option value="">Select a Playlist</option>
			</select>
			<button type="button" class="button" ng-click="editPlaylist(playlist, media)"> Button </button>
		</form>
	</div>
</div>
<!-- Playlist Version -->
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 background" ng-show="filtered" ng-repeat="media in allMedia track by $index">
	<div class="hovereffect" ui-sref="singleItemState({mediaId: media.imdb.id})">
		<img class="img-responsive" src="{{media.poster}}">
		<div class="overlay">
			<h2>{{media.title}}</h2>
			<a class="info">show stars</a>
		</div>
		<form>
			Add to Playlist
			<select ng-model="playlist" ng-options="playlist as playlist.name for playlist in playlists">
				<option value="">Select a Playlist</option>
			</select>
			<button type="button" class="button" ng-click="editPlaylist(playlist, media)"> Button </button>
		</form>
	</div>
</div>
