@import url(https://fonts.googleapis.com/css?family=Comfortaa);
* {
  box-sizing: border-box;
  font-family: comfortaa;
}

.col-xs-10{
  padding: 0px !important;
}

.col-xs-2{
  padding: 0px !important;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
html {
  background-color: black;
}

.blackbg {
  background-color:black;
  width: 100vw;
  height: 100vh;
}
#error {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #089de3 , 0 0 70px #089de3 , 0 0 80px #089de3 , 0 0 100px #089de3 ;
}
#error span {
  animation: upper 11s linear infinite;
}
@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #089de3 , 0 0 70px #089de3 , 0 0 80px #089de3 , 0 0 100px #089de3 ;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none;
  }
}

@import 'dashboard/main';
@import 'explorer/main';
@import 'sidebar/main';
@import 'forms/main';
@import 'singleItem/main';
@import 'player/main';
