@import url(https://fonts.googleapis.com/css?family=Comfortaa);
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

.col-xs-10 {
  padding: 0px !important; }

.col-xs-2 {
  padding: 0px !important; }

.remote {
  margin: 30px; }

.blackbg {
  overflow-x: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  width: 100vw;
  height: 100vh; }

#error {
  color: #fff;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #089de3, 0 0 70px #089de3, 0 0 80px #089de3, 0 0 100px #089de3; }

#error span {
  animation: upper 11s linear infinite; }

@keyframes upper {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #089de3, 0 0 70px #089de3, 0 0 80px #089de3, 0 0 100px #089de3; }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none; } }

.background {
  background-color: black; }

html {
  background-color: black; }

.hovereffect {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }

.img-responsive {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 400px !important;
  width: 300px !important; }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.5s;
  transition: all 0.1s ease-out 0.5s; }

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.hovereffect img {
  display: block;
  position: relative; }

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s; }

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  border: 1px solid #000;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s; }

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff; }

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 5px #000;
  color: #000;
  border: 1px solid #000; }

#fileholder {
  border: 2px dashed #ccc;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden; }

.wcp-titlebar {
  display: inline-block !important; }

.upload-button {
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  outline: none; }

.upload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.sidebar {
  background-color: black;
  height: 100vh;
  padding-left: 0 !important;
  padding-right: 0;
  width: 20vh; }
  .sidebar li {
    list-style: none; }
  .sidebar h1 {
    padding: 50px;
    width: 100%; }
  .sidebar button {
    width: 100%;
    background: transparent;
    border: none;
    height: 80px;
    font-size: 20px;
    color: #696969; }
  .sidebar button:focus {
    outline: 0; }
  .sidebar button:hover {
    display: inline-block;
    border: none;
    color: white;
    text-decoration: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #089de3, 0 0 70px #089de3, 0 0 80px #089de3, 0 0 100px #089de3;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }
  .sidebar .active {
    display: inline-block;
    border: none;
    color: white;
    text-decoration: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #089de3, 0 0 70px #089de3, 0 0 80px #089de3, 0 0 100px #089de3;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }

.wrapper {
  position: relative; }

.sticky {
  margin-left: -130px;
  float-left: true;
  position: fixed; }

input[type="text"] {
  color: black; }

button {
  color: black; }

.boxed {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100vw;
  height: 100vh;
  color: white; }

.mediaInfo {
  float-left: true;
  font-size: 18px; }

.fixed-ratio-resize {
  /* basic responsive img */
  max-width: 100%;
  height: auto;
  width: auto;
  /* IE8 */ }
