.boxed {
				background: rgba(0, 0, 0, 0.5);
				padding: 20px;
				width: 100vw;
				height: 100vh;
				color: white;
}

.mediaInfo {
	float-left: true;
	font-size: 18px;
}

.fixed-ratio-resize { /* basic responsive img */
	max-width: 100%;
	height: auto;
	width: auto; /* IE8 */
}
