.wcp-titlebar {
  background: none;
  padding: 20px 0px;
  z-index: 1000;
}

.backbutton {
  float: left;
  background: transparent;
  border-radius: 30px;
  outline: none;
  text-decoration: none;
  z-index: 1000;
}
