<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-12 text-center">
				<img class="media-object" ng-src="{{mediaData.poster}}">
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-12">
				<h1 class="text-center">{{mediaData.title}}</h1>
				<p>{{mediaData.plot}}</p>
				<button class="btn btn-primary btn-block" ng-if="!series" ui-sref="playerState({data: mediaData._id, path: mediaData.path})">
					Play Movie
				</button>
				<span ng-if="series" ng-repeat="season in seasons">
					<div ng-repeat="episode in season">
						<button ui-sref="playerState({data: mediaData._id, path: episode.path})" class="btn btn-primary btn-block">Episode {{episode.num}}</button>
						<br>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>
