<div id="wrapper">
    <!-- Sidebar -->
  <div id="playlists-wrapper" ng-controller="PlaylistsCtrl">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <ol class="breadcrumb">
            <li> <a ng-click="togglePlaylists()">Library</a></li>
            <li class="active">Playlists</li>
          </ol>
            <span ng-repeat = "playlist in playlists track by $index">
            <li>
              {{playlist.name}}
              {{playlist.media}}
            </li>
          </span>
          <span ng-show="showForm">
            <li>
                <input type="text" placeholder="Playlist Name" ng-enter="createPlaylist()"ng-model="name">
            </li>
          </span>
            <li>
              <button ng-hide="showForm" ng-click="addNewForm()"> + Add New Playlist </button>
            </li>
        </ul>
    </div>
  </div>
</div>
